footer{
    width:100%;
    height:600px;
}
textarea{
    width:100%;
    height: 200px;
}
#freak{
    
    width:100%;
    height:60px; 
   
}
#freakname{
    font-size: 22px;
    color: whitesmoke;  
}
#developer{
    font-size: 20px;
    color:floralwhite;
}
#name{
    font-size: 18px;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    
    text-decoration: underline
}
 /*********copy right footer********************/
 .mobifoot{
    width:100%;
    height:-20%;
    top:40%

 }
#mobifreak{
    width:100%;
    height:80px; 
  
}
#mobideveloper{
    font-size: 16px;
    color:floralwhite;
}
#mobicopy{
    font-size: 20px;
    color:floralwhite;
}



  /*****************************************/