
.header{
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);

}
.header:hover{
  background-image: linear-gradient(-20deg, #d1c05e 0%, #faaca8 100%, #faaca8 100%);
 
  transition-delay: 4ms;
transition-timing-function: ease;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.hero{
  width:100%;
    height:600px;
    height: 100vh;
	background: linear-gradient(45deg,  rgba(117, 184, 150, 0.7) , rgba(231, 134, 163, 0.7), rgba(227, 243, 133, 0.7)  ) 0 0 / 1000% no-repeat, url(https://download.unsplash.com/photo-1429277096327-11ee3b761c93) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 45px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}
